footer {
    @include flex (row, space-evenly);
    width: 100%;
    padding: 30px;
    font-weight: 600;
    color: white;
    background-color: $color-secondary;
    
}

.footer-link {
    padding: 8px 0;
    @include flex;
}

.footer-link:hover {
    border-bottom: 2px $color-tertiary solid;
}