header {
    @include flex;
    text-align: center;
    width: 100%;
}

/* mise en forme des titres */
h1 {
    margin: 10px;
    font-size: 2rem;
    font-weight: 900;
    color: $color-primary;

}

h2 {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-tertiary;
    background-color: $color-secondary;
}

h3 {
    margin: 10px;
    font-weight: 500;
    color: $color-secondary;
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}