button {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: $color-secondary;
    background-color: $color-tertiary;
    margin: 0.5rem 0;
    height: 1rem;
    width: 45%;

    &:hover {
        color: $color-tertiary;
        background-color: $color-secondary;
        cursor: pointer;
    }

    &:focus {
        border: 3px solid $color-primary;
    }
}