button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: $color-secondary;
    background-color: $color-tertiary;
    margin: 0.5rem 0;
    min-width: 25%;
    max-width: 45%;

    &:hover {
        color: $color-tertiary;
        background-color: $color-secondary;
        cursor: pointer;
    }

    &:focus {
        border: 3px solid $color-primary;
    }
}

@media only screen and (min-width: 768px) {
    button {
        width: 30%;
    }

    #btnValiderMot,
    #btnPartager {
        padding: 0.8rem;
        border-radius: 0.8rem;
    }

    #btnPartager {
        width: 25%;
    }
}