/* Mise en forme des formulaires */
input[type='radio'] {
    filter: grayscale(1);
    /* Grayscale passe le bouton en niveau de gris */
}


input[type='text'],
input[type='email'] {
    width: 100%;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: $color-primary;
}

input[type='text']::placeholder,
input[type='email']::placeholder {
    color: $color-secondary;
    opacity: 50%;
}