/* Mise en forme des formulaires */
input[type='radio'] {
    filter: grayscale(1);
    /* Grayscale passe le bouton en niveau de gris */
}

input[type='text'],
input[type='email'] {
    padding: 5px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    font-size: 17px;
    width: 80%;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 0.8rem 0;
    color: $color-secondary;
}

::placeholder {
    color: $color-primary;
    opacity: 50%;
    padding-left: 20px;
}