/*Colors*/

$color-primary : #f76c5e;
$color-secondary: #f68e5f;
$color-tertiary: #fff;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font: 'Roboto';