body {
    @include flex;
    font-family: $font;
    min-height: 100vh;
    min-width: 325px;
    scroll-behavior: smooth;
    text-align: center;
    font-family: $font, sans-serif;
}

main {
    @include flex;
    font-weight: 500;
    color: $color-tertiary;
    background-color: $color-secondary;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0.8rem;
}

.optionSource {
    margin: 1rem;
}

.optionSource>input {
    margin-left: 20px;
}

/* Zone ou sera affiché le texte (mot ou phrase) à afficher */
.zoneProposition {
    width: 80%;
    margin: 0.8rem 0;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: white;
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-primary;

    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

/* Zone de saisie */
.zoneSaisie {
    @include flex;
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
        @include flex(row, space-between);
        gap: 1rem;
    }
}

/* Eléments du formulaire de saisie */


.zoneScore {
    font-size: 1.3rem;
}

.zonePartage {
    width: 100%;
    @include flex;
}