body {
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 325px;
    justify-content: space-between;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: $color-tertiary;
    background-color: $color-secondary;
    border-radius: 15px;
    padding: 1rem;
    margin-inline: 0.8rem;
}